MIDI_ServerJS/node_modules/.package-lock.json
MIDI_ServerJS/node_modules/.bin/node-gyp-build
MIDI_ServerJS/node_modules/.bin/node-gyp-build-optional
MIDI_ServerJS/node_modules/.bin/node-gyp-build-test
MIDI_ServerJS/node_modules/@serialport/binding-mock/.releaserc
MIDI_ServerJS/node_modules/@serialport/binding-mock/LICENSE
MIDI_ServerJS/node_modules/@serialport/binding-mock/package.json
MIDI_ServerJS/node_modules/@serialport/binding-mock/README.md
MIDI_ServerJS/node_modules/@serialport/binding-mock/dist/index-esm.mjs
MIDI_ServerJS/node_modules/@serialport/binding-mock/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/binding-mock/dist/index.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/binding.gyp
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/LICENSE
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/package.json
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/README.md
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/darwin.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/darwin.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/errors.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/errors.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/index.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/linux-list.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/linux-list.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/linux.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/linux.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/load-bindings.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/load-bindings.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/poller.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/poller.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/unix-read.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/unix-read.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/unix-write.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/unix-write.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/win32-sn-parser.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/win32-sn-parser.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/win32.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/dist/win32.js
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/android-arm/node.napi.armv7.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/android-arm64/node.napi.armv8.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/darwin-x64+arm64/node.napi.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/linux-arm/node.napi.armv6.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/linux-arm/node.napi.armv7.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/linux-arm64/node.napi.armv8.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/linux-x64/node.napi.glibc.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/linux-x64/node.napi.musl.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/win32-ia32/node.napi.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/prebuilds/win32-x64/node.napi.node
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/darwin_list.cpp
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/darwin_list.h
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/poller.cpp
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/poller.h
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/serialport_linux.cpp
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/serialport_linux.h
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/serialport_unix.cpp
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/serialport_unix.h
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/serialport_win.cpp
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/serialport_win.h
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/serialport.cpp
MIDI_ServerJS/node_modules/@serialport/bindings-cpp/src/serialport.h
MIDI_ServerJS/node_modules/@serialport/bindings-interface/CODE_OF_CONDUCT.md
MIDI_ServerJS/node_modules/@serialport/bindings-interface/LICENSE
MIDI_ServerJS/node_modules/@serialport/bindings-interface/package.json
MIDI_ServerJS/node_modules/@serialport/bindings-interface/README.md
MIDI_ServerJS/node_modules/@serialport/bindings-interface/dist/index-esm.mjs
MIDI_ServerJS/node_modules/@serialport/bindings-interface/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/bindings-interface/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-byte-length/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-byte-length/package.json
MIDI_ServerJS/node_modules/@serialport/parser-byte-length/README.md
MIDI_ServerJS/node_modules/@serialport/parser-byte-length/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-byte-length/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-cctalk/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-cctalk/package.json
MIDI_ServerJS/node_modules/@serialport/parser-cctalk/README.md
MIDI_ServerJS/node_modules/@serialport/parser-cctalk/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-cctalk/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-delimiter/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-delimiter/package.json
MIDI_ServerJS/node_modules/@serialport/parser-delimiter/README.md
MIDI_ServerJS/node_modules/@serialport/parser-delimiter/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-delimiter/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-inter-byte-timeout/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-inter-byte-timeout/package.json
MIDI_ServerJS/node_modules/@serialport/parser-inter-byte-timeout/README.md
MIDI_ServerJS/node_modules/@serialport/parser-inter-byte-timeout/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-inter-byte-timeout/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-packet-length/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-packet-length/package.json
MIDI_ServerJS/node_modules/@serialport/parser-packet-length/README.md
MIDI_ServerJS/node_modules/@serialport/parser-packet-length/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-packet-length/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-readline/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-readline/package.json
MIDI_ServerJS/node_modules/@serialport/parser-readline/README.md
MIDI_ServerJS/node_modules/@serialport/parser-readline/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-readline/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-ready/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-ready/package.json
MIDI_ServerJS/node_modules/@serialport/parser-ready/README.md
MIDI_ServerJS/node_modules/@serialport/parser-ready/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-ready/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-regex/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-regex/package.json
MIDI_ServerJS/node_modules/@serialport/parser-regex/README.md
MIDI_ServerJS/node_modules/@serialport/parser-regex/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-regex/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/package.json
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/README.md
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/dist/decoder.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/dist/decoder.js
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/dist/encoder.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/dist/encoder.js
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-slip-encoder/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-spacepacket/LICENSE
MIDI_ServerJS/node_modules/@serialport/parser-spacepacket/package.json
MIDI_ServerJS/node_modules/@serialport/parser-spacepacket/README.md
MIDI_ServerJS/node_modules/@serialport/parser-spacepacket/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-spacepacket/dist/index.js
MIDI_ServerJS/node_modules/@serialport/parser-spacepacket/dist/utils.d.ts
MIDI_ServerJS/node_modules/@serialport/parser-spacepacket/dist/utils.js
MIDI_ServerJS/node_modules/@serialport/stream/LICENSE
MIDI_ServerJS/node_modules/@serialport/stream/package.json
MIDI_ServerJS/node_modules/@serialport/stream/README.md
MIDI_ServerJS/node_modules/@serialport/stream/dist/index.d.ts
MIDI_ServerJS/node_modules/@serialport/stream/dist/index.js
MIDI_ServerJS/node_modules/bindings/bindings.js
MIDI_ServerJS/node_modules/bindings/LICENSE.md
MIDI_ServerJS/node_modules/bindings/package.json
MIDI_ServerJS/node_modules/bindings/README.md
MIDI_ServerJS/node_modules/debug/LICENSE
MIDI_ServerJS/node_modules/debug/package.json
MIDI_ServerJS/node_modules/debug/README.md
MIDI_ServerJS/node_modules/debug/src/browser.js
MIDI_ServerJS/node_modules/debug/src/common.js
MIDI_ServerJS/node_modules/debug/src/index.js
MIDI_ServerJS/node_modules/debug/src/node.js
MIDI_ServerJS/node_modules/dotenv/CHANGELOG.md
MIDI_ServerJS/node_modules/dotenv/config.d.ts
MIDI_ServerJS/node_modules/dotenv/config.js
MIDI_ServerJS/node_modules/dotenv/LICENSE
MIDI_ServerJS/node_modules/dotenv/package.json
MIDI_ServerJS/node_modules/dotenv/README.md
MIDI_ServerJS/node_modules/dotenv/lib/cli-options.js
MIDI_ServerJS/node_modules/dotenv/lib/env-options.js
MIDI_ServerJS/node_modules/dotenv/lib/main.d.ts
MIDI_ServerJS/node_modules/dotenv/lib/main.js
MIDI_ServerJS/node_modules/file-uri-to-path/.npmignore
MIDI_ServerJS/node_modules/file-uri-to-path/.travis.yml
MIDI_ServerJS/node_modules/file-uri-to-path/History.md
MIDI_ServerJS/node_modules/file-uri-to-path/index.d.ts
MIDI_ServerJS/node_modules/file-uri-to-path/index.js
MIDI_ServerJS/node_modules/file-uri-to-path/LICENSE
MIDI_ServerJS/node_modules/file-uri-to-path/package.json
MIDI_ServerJS/node_modules/file-uri-to-path/README.md
MIDI_ServerJS/node_modules/file-uri-to-path/test/test.js
MIDI_ServerJS/node_modules/file-uri-to-path/test/tests.json
MIDI_ServerJS/node_modules/midi/binding.gyp
MIDI_ServerJS/node_modules/midi/CHANGELOG.md
MIDI_ServerJS/node_modules/midi/LICENSE
MIDI_ServerJS/node_modules/midi/midi.js
MIDI_ServerJS/node_modules/midi/package.json
MIDI_ServerJS/node_modules/midi/README.md
MIDI_ServerJS/node_modules/midi/build/binding.Makefile
MIDI_ServerJS/node_modules/midi/build/config.gypi
MIDI_ServerJS/node_modules/midi/build/gyp-mac-tool
MIDI_ServerJS/node_modules/midi/build/Makefile
MIDI_ServerJS/node_modules/midi/build/midi.target.mk
MIDI_ServerJS/node_modules/midi/build/Release/midi.node
MIDI_ServerJS/node_modules/midi/build/Release/.deps/Release/midi.node.d
MIDI_ServerJS/node_modules/midi/build/Release/.deps/Release/obj.target/midi/src/input.o.d
MIDI_ServerJS/node_modules/midi/build/Release/.deps/Release/obj.target/midi/src/midi.o.d
MIDI_ServerJS/node_modules/midi/build/Release/.deps/Release/obj.target/midi/src/output.o.d
MIDI_ServerJS/node_modules/midi/build/Release/.deps/Release/obj.target/midi/vendor/rtmidi/RtMidi.o.d
MIDI_ServerJS/node_modules/midi/build/Release/obj.target/midi/src/input.o
MIDI_ServerJS/node_modules/midi/build/Release/obj.target/midi/src/midi.o
MIDI_ServerJS/node_modules/midi/build/Release/obj.target/midi/src/output.o
MIDI_ServerJS/node_modules/midi/build/Release/obj.target/midi/vendor/rtmidi/RtMidi.o
MIDI_ServerJS/node_modules/midi/src/input.cpp
MIDI_ServerJS/node_modules/midi/src/input.h
MIDI_ServerJS/node_modules/midi/src/midi.cpp
MIDI_ServerJS/node_modules/midi/src/output.cpp
MIDI_ServerJS/node_modules/midi/src/output.h
MIDI_ServerJS/node_modules/midi/test/virtual-loopback-test-automated.js
MIDI_ServerJS/node_modules/midi/test/virtual-loopback-test.js
MIDI_ServerJS/node_modules/midi/test/virtual-read-stream-resume-test.js
MIDI_ServerJS/node_modules/midi/test/virtual-read-stream-test.js
MIDI_ServerJS/node_modules/midi/test/virtual-write-stream-test.js
MIDI_ServerJS/node_modules/midi/test/fixture/144-23-81.bin
MIDI_ServerJS/node_modules/midi/test/input/input-hang-test.js
MIDI_ServerJS/node_modules/midi/test/input/input-list-test.js
MIDI_ServerJS/node_modules/midi/test/input/input-port-status-test.js
MIDI_ServerJS/node_modules/midi/test/input/input-reopen-test.js
MIDI_ServerJS/node_modules/midi/test/input/input-test.js
MIDI_ServerJS/node_modules/midi/test/input/virtual-input-test.js
MIDI_ServerJS/node_modules/midi/test/output/output-list-test.js
MIDI_ServerJS/node_modules/midi/test/output/output-port-status-test.js
MIDI_ServerJS/node_modules/midi/test/output/output-test.js
MIDI_ServerJS/node_modules/midi/test/output/virtual-output-test.js
MIDI_ServerJS/node_modules/midi/test/unit/input.js
MIDI_ServerJS/node_modules/midi/test/unit/output.js
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/.gitattributes
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/.travis.yml
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/autogen.sh
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/CMakeLists.txt
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/configure.ac
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/LICENSE
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/Makefile.am
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/README.md
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/rtmidi_c.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/rtmidi_c.h
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/rtmidi-config.in
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/RtMidi.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/RtMidi.h
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/rtmidi.pc.in
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/.github/issue_template.md
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/cmake/RtMidiConfigUninstall.cmake.in
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_stub.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_stub.h
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_test.go
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi.go
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/Makefile.am
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/release.txt
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/doxygen/Doxyfile.in
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/doxygen/footer.html
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/doxygen/header.html
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/doxygen/tutorial.txt
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/doxygen/samples/getting_started.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/images/ccrma.gif
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/doc/images/mcgill.gif
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/msw/readme
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/msw/rtmidilib.sln
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/msw/rtmidilib.vcproj
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/apinames.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/cmidiin.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/cmidiin.dsp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/Makefile.am
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/midiclock.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/midiout.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/midiout.dsp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/midiprobe.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/midiprobe.dsp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/qmidiin.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/qmidiin.dsp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/RtMidi.dsw
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/sysextest.cpp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/sysextest.dsp
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/Debug/.placeholder
MIDI_ServerJS/node_modules/midi/vendor/rtmidi/tests/Release/.placeholder
MIDI_ServerJS/node_modules/ms/index.js
MIDI_ServerJS/node_modules/ms/license.md
MIDI_ServerJS/node_modules/ms/package.json
MIDI_ServerJS/node_modules/ms/readme.md
MIDI_ServerJS/node_modules/nan/CHANGELOG.md
MIDI_ServerJS/node_modules/nan/include_dirs.js
MIDI_ServerJS/node_modules/nan/LICENSE.md
MIDI_ServerJS/node_modules/nan/nan_callbacks_12_inl.h
MIDI_ServerJS/node_modules/nan/nan_callbacks_pre_12_inl.h
MIDI_ServerJS/node_modules/nan/nan_callbacks.h
MIDI_ServerJS/node_modules/nan/nan_converters_43_inl.h
MIDI_ServerJS/node_modules/nan/nan_converters_pre_43_inl.h
MIDI_ServerJS/node_modules/nan/nan_converters.h
MIDI_ServerJS/node_modules/nan/nan_define_own_property_helper.h
MIDI_ServerJS/node_modules/nan/nan_implementation_12_inl.h
MIDI_ServerJS/node_modules/nan/nan_implementation_pre_12_inl.h
MIDI_ServerJS/node_modules/nan/nan_json.h
MIDI_ServerJS/node_modules/nan/nan_maybe_43_inl.h
MIDI_ServerJS/node_modules/nan/nan_maybe_pre_43_inl.h
MIDI_ServerJS/node_modules/nan/nan_new.h
MIDI_ServerJS/node_modules/nan/nan_object_wrap.h
MIDI_ServerJS/node_modules/nan/nan_persistent_12_inl.h
MIDI_ServerJS/node_modules/nan/nan_persistent_pre_12_inl.h
MIDI_ServerJS/node_modules/nan/nan_private.h
MIDI_ServerJS/node_modules/nan/nan_scriptorigin.h
MIDI_ServerJS/node_modules/nan/nan_string_bytes.h
MIDI_ServerJS/node_modules/nan/nan_typedarray_contents.h
MIDI_ServerJS/node_modules/nan/nan_weak.h
MIDI_ServerJS/node_modules/nan/nan.h
MIDI_ServerJS/node_modules/nan/package.json
MIDI_ServerJS/node_modules/nan/README.md
MIDI_ServerJS/node_modules/nan/doc/asyncworker.md
MIDI_ServerJS/node_modules/nan/doc/buffers.md
MIDI_ServerJS/node_modules/nan/doc/callback.md
MIDI_ServerJS/node_modules/nan/doc/converters.md
MIDI_ServerJS/node_modules/nan/doc/errors.md
MIDI_ServerJS/node_modules/nan/doc/json.md
MIDI_ServerJS/node_modules/nan/doc/maybe_types.md
MIDI_ServerJS/node_modules/nan/doc/methods.md
MIDI_ServerJS/node_modules/nan/doc/new.md
MIDI_ServerJS/node_modules/nan/doc/node_misc.md
MIDI_ServerJS/node_modules/nan/doc/object_wrappers.md
MIDI_ServerJS/node_modules/nan/doc/persistent.md
MIDI_ServerJS/node_modules/nan/doc/scopes.md
MIDI_ServerJS/node_modules/nan/doc/script.md
MIDI_ServerJS/node_modules/nan/doc/string_bytes.md
MIDI_ServerJS/node_modules/nan/doc/v8_internals.md
MIDI_ServerJS/node_modules/nan/doc/v8_misc.md
MIDI_ServerJS/node_modules/nan/tools/1to2.js
MIDI_ServerJS/node_modules/nan/tools/package.json
MIDI_ServerJS/node_modules/nan/tools/README.md
MIDI_ServerJS/node_modules/node-addon-api/common.gypi
MIDI_ServerJS/node_modules/node-addon-api/except.gypi
MIDI_ServerJS/node_modules/node-addon-api/index.js
MIDI_ServerJS/node_modules/node-addon-api/LICENSE.md
MIDI_ServerJS/node_modules/node-addon-api/napi-inl.deprecated.h
MIDI_ServerJS/node_modules/node-addon-api/napi-inl.h
MIDI_ServerJS/node_modules/node-addon-api/napi.h
MIDI_ServerJS/node_modules/node-addon-api/node_api.gyp
MIDI_ServerJS/node_modules/node-addon-api/noexcept.gypi
MIDI_ServerJS/node_modules/node-addon-api/nothing.c
MIDI_ServerJS/node_modules/node-addon-api/package-support.json
MIDI_ServerJS/node_modules/node-addon-api/package.json
MIDI_ServerJS/node_modules/node-addon-api/README.md
MIDI_ServerJS/node_modules/node-addon-api/tools/check-napi.js
MIDI_ServerJS/node_modules/node-addon-api/tools/clang-format.js
MIDI_ServerJS/node_modules/node-addon-api/tools/conversion.js
MIDI_ServerJS/node_modules/node-addon-api/tools/eslint-format.js
MIDI_ServerJS/node_modules/node-addon-api/tools/README.md
MIDI_ServerJS/node_modules/node-gyp-build/bin.js
MIDI_ServerJS/node_modules/node-gyp-build/build-test.js
MIDI_ServerJS/node_modules/node-gyp-build/index.js
MIDI_ServerJS/node_modules/node-gyp-build/LICENSE
MIDI_ServerJS/node_modules/node-gyp-build/optional.js
MIDI_ServerJS/node_modules/node-gyp-build/package.json
MIDI_ServerJS/node_modules/node-gyp-build/README.md
MIDI_ServerJS/node_modules/serialport/LICENSE
MIDI_ServerJS/node_modules/serialport/package.json
MIDI_ServerJS/node_modules/serialport/README.md
MIDI_ServerJS/node_modules/serialport/dist/index.d.ts
MIDI_ServerJS/node_modules/serialport/dist/index.js
MIDI_ServerJS/node_modules/serialport/dist/serialport-mock.d.ts
MIDI_ServerJS/node_modules/serialport/dist/serialport-mock.js
MIDI_ServerJS/node_modules/serialport/dist/serialport.d.ts
MIDI_ServerJS/node_modules/serialport/dist/serialport.js
